nav{
    position: sticky;
    top: 0px;
    background-color: white;
}
.vertical-line{
    border-left: 2px solid #f2f2f2;
    height: 60px;
}
#search-bar{
    background-color: #f8f8f8;
    border-radius: 10px;
    border: 2px solid #f2f2f2;
    padding: 10px;
}
#search-bar>input{
    width: 45vw;
    height: 40px;
    background-color: transparent;

}
.my-cart-btn{
    border-radius: 15px;
    padding: 20px;
}
#hero-section{
    width: 100vw;
}
.scroll-container{
    width: 85.5vw;
    margin: auto;
}
.list{
    white-space: nowrap;
    overflow-x: scroll;
}
/* ::-webkit-scrollbar{
    display: none;
} */
.list>img{
    display: inline-block;
    margin: 8px;
}
#category-items{
    display: flex;
    flex-wrap: wrap;
    padding-inline: 6.5vw;
    justify-content: space-around;
}
.add-to-cart{
    width: 85.5vw;
    margin: auto;
}
.rupee{
    position: absolute;
    bottom: 5px;
}
.my-card{
   width: 180px;
   height: 300px;
   box-sizing: border-box;
   border-radius: 15px !important;
   white-space: nowrap;
   display: inline-block !important;
   margin-inline: 10px;
}
.shadow{
    margin-top: 30px; 

}
.my-cart>img{
    display: inline-block;
    margin: auto;
}
.product-weight{
    font-size: 13px;
    color: gray;
}
.rupee>p{
    margin: auto;
    font-weight: 500;
    padding-right: 30px;
}
.rupee>button{
    border-radius: 10px;
    font-weight: 500;
    background-color: #e4f5e7;
}
.footer{
    display: flex;
    justify-content: center;
    margin-block: 100px;
}
.footer>h4>a{
    text-decoration: none;
    color: black;
}
